<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/grid.css">
</head>
<body>
    <div class="container grid">
        <div class="pdp container">
            <img  src="/img/pdp.jpg" alt="pdp" width="150px">
        </div>
        <div>
            <div class="container description">
                <h1>
    
                </h1>
                <p>
                    Le code Konami (コナミコマンド, Konami Komando?, litt. Commande Konami) est un cheat code (code de triche) utilisé pour la première fois en 1986 dans le jeu vidéo Gradius développé par Konami pour la console Nintendo Entertainment System (NES).
    
                    Ce code peut être utilisé dans de nombreux jeux vidéo de Konami, activant généralement une option secrète. Au cours du jeu, le joueur doit mettre la partie en pause, puis presser sur sa manette de jeu la séquence de boutons suivante :
    
                    Konam
                </p>
            </div>
        </div>
    
        <div class="gitprofile">
    
        </div>
</body>
</html>