<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/bandeau.css">
</head>
<body>
    <header>
     
        <div>
            <ul class="list">
                <li class="logo"><a href="/" class="nav-link"><img src="img/logosvg.svg" alt="" sizes="" width="150em"> </a></li>
                <li class="nav"><a href="faq" class="nav-link">Projets </a></li>
                <li class="nav"><a href="#" class="nav-link">Expérience </a></li>
                <li class="nav"><a href="#" class="nav-link">About</a></li>
              </ul>
        </div>
        <div class="hero">
            <div class="anim">
            </div>
            
        </div>
    </header>
</body>
</html>