header{
    padding: 3%;
}
.list a{
    font-family: 'Hatcher', serif;
      color: #900C3F;
      text-decoration: none;
      font-size: 2rem;
      padding-left: 2em;
  }

.list{
display: flex;
flex-wrap: wrap;
list-style-type: none;
justify-content: center ;

}
.nav{
    padding-top: 2em;
}
.nav:hover{
padding-top: 4%;
transition: 0.5s ease-in-out;
}